In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import pysal as ps
import scipy.spatial as spatial
#from simpledbf import Dbf5 #needed to read dbf files in pre-2015 FARS data
from dbfread import DBF
%matplotlib inline

Read in FARS data from csv.  Data prior to 2015 is in sas or dbf format, so a differnt method will need to be used  Accident file contains information about the crashes at a per crash level.

In [2]:
accident_15 = pd.DataFrame.from_csv('FARS2015NationalCSV/accident.csv', index_col=None)
accident_15['YEAR'] = 2015 #add column to specify year, needed when compling multiyear dataset
#accident_15['YEAR'].head()

FARS data by person, which is needed to get driver demographic data, like age.  This table can be combined with accident using the STATE and ST_CASE columns

In [3]:
person_15 = pd.DataFrame.from_csv('FARS2015NationalCSV/person.csv', index_col=None)
person_15['YEAR'] = 2015 #add column to specify year, needed when compling multiyear dataset
#person_15.head()

FARS data by vehicle

In [4]:
vehicle_15 = pd.DataFrame.from_csv('FARS2015NationalCSV/vehicle.csv', index_col=None, encoding="latin-1")
vehicle_15['YEAR'] = 2015 #add column to specify year, needed when compling multiyear dataset
vehicle_15.head()

,STATE,ST_CASE,VEH_NO,VE_FORMS,NUMOCCS,DAY,MONTH,HOUR,MINUTE,HARM_EV,...,VTCONT_F,P_CRASH1,P_CRASH2,P_CRASH3,PCRASH4,PCRASH5,ACC_TYPE,DEATHS,DR_DRINK,YEAR
0,1,10001,1,1,1,1,1,2,40,35,...,0,14,13,99,1,4,1,1,1,2015
1,1,10002,1,1,1,1,1,22,13,34,...,0,14,6,1,4,4,7,1,0,2015
2,1,10003,1,1,2,1,1,1,25,42,...,0,1,13,1,1,4,1,1,1,2015
3,1,10004,1,1,1,4,1,0,57,53,...,0,14,13,1,1,4,1,1,1,2015
4,1,10005,1,2,1,7,1,7,9,12,...,0,11,15,1,1,1,68,1,0,2015

## Pre-2015 data

In [5]:
'''
Define function to open dbf file and return pandas dataframe
Arguments
---------
dbfile  : DBF file - Input to be imported
'''
def dbf2DF(dbfile): #Reads in DBF files and returns Pandas DF
    db = DBF(dbfile, load=True) #dbfread to open DBF
    pandasDF = pd.DataFrame(list(db)) #Convert to Pandas DF
    return pandasDF

In [6]:
accident_14 = dbf2DF('pre_2015_fars/FARS_2014/accident.dbf')
person_14 = dbf2DF('pre_2015_fars/FARS_2014/person.dbf')
vehicle_14 = dbf2DF('pre_2015_fars/FARS_2014/vehicle.dbf')
accident_14['YEAR'] = 2014 
person_14['YEAR'] = 2014 
vehicle_14['YEAR'] = 2014 

vehicle_14.head()

,STATE,ST_CASE,VEH_NO,VE_FORMS,NUMOCCS,DAY,MONTH,HOUR,MINUTE,HARM_EV,...,VTCONT_F,P_CRASH1,P_CRASH2,P_CRASH3,PCRASH4,PCRASH5,ACC_TYPE,DEATHS,DR_DRINK,YEAR
0,1,10001,1,1,2,1,1,1,15,17,...,0,14,12,1,1,4,6,1,1,2014
1,1,10002,1,1,1,1,1,13,30,42,...,0,1,12,1,1,4,6,1,1,2014
2,1,10003,1,2,4,1,1,3,7,12,...,3,1,17,1,1,1,88,0,0,2014
3,1,10003,2,2,3,1,1,3,7,12,...,3,1,66,1,1,1,89,2,0,2014
4,1,10004,1,3,1,2,1,9,0,12,...,0,1,54,1,1,1,52,1,0,2014

In [7]:
accident_13 = dbf2DF('pre_2015_fars/FARS_2013/accident.dbf')
person_13 = dbf2DF('pre_2015_fars/FARS_2013/person.dbf')
vehicle_13 = dbf2DF('pre_2015_fars/FARS_2013/vehicle.dbf')
accident_13['YEAR'] = 2013 
person_13['YEAR'] = 2013 
vehicle_13['YEAR'] = 2013 

vehicle_13.head()

,STATE,ST_CASE,VEH_NO,VE_FORMS,NUMOCCS,DAY,MONTH,HOUR,MINUTE,HARM_EV,...,VTCONT_F,P_CRASH1,P_CRASH2,P_CRASH3,PCRASH4,PCRASH5,ACC_TYPE,DEATHS,DR_DRINK,YEAR
0,1,10001,1,1,8,6,1,0,55,42,...,0,1,1,1,4,4,7,2,0,2013
1,1,10002,1,2,1,3,1,21,24,12,...,0,1,66,8,1,2,88,0,0,2013
2,1,10002,2,2,1,3,1,21,24,12,...,3,1,17,1,1,1,89,1,0,2013
3,1,10003,1,1,1,6,1,11,45,30,...,0,1,13,1,1,4,1,1,0,2013
4,1,10004,1,1,3,6,1,12,25,24,...,0,1,6,1,3,4,7,2,0,2013

In [8]:
accident_12 = dbf2DF('pre_2015_fars/FARS_2012/accident.dbf')
person_12 = dbf2DF('pre_2015_fars/FARS_2012/person.dbf')
vehicle_12 = dbf2DF('pre_2015_fars/FARS_2012/vehicle.dbf')
accident_12['YEAR'] = 2012 
person_12['YEAR'] = 2012 
vehicle_12['YEAR'] = 2012 

vehicle_12.head()

,STATE,ST_CASE,VEH_NO,VE_FORMS,NUMOCCS,DAY,MONTH,HOUR,MINUTE,HARM_EV,...,VTCONT_F,P_CRASH1,P_CRASH2,P_CRASH3,PCRASH4,PCRASH5,ACC_TYPE,DEATHS,DR_DRINK,YEAR
0,1,10001,1,1,2,1,1,20,33,1,...,0,14,13,6,1,4,6,1,1,2012
1,1,10002,1,1,1,1,1,13,15,14,...,0,1,15,1,1,4,11,1,0,2012
2,1,10003,1,1,6,2,1,1,35,35,...,0,1,87,7,1,4,1,1,0,2012
3,1,10004,1,2,1,5,1,15,12,12,...,0,1,51,1,1,1,24,1,0,2012
4,1,10004,2,2,4,5,1,15,12,12,...,0,1,53,1,1,1,25,0,0,2012

In [9]:
accident_11 = dbf2DF('pre_2015_fars/FARS_2011/accident.dbf')
person_11 = dbf2DF('pre_2015_fars/FARS_2011/person.dbf')
vehicle_11 = dbf2DF('pre_2015_fars/FARS_2011/vehicle.dbf')
accident_11['YEAR'] = 2011 
person_11['YEAR'] = 2011 
vehicle_11['YEAR'] = 2011 

vehicle_11.head()

,STATE,ST_CASE,VEH_NO,VE_FORMS,NUMOCCS,DAY,MONTH,HOUR,MINUTE,HARM_EV,...,VTCONT_F,P_CRASH1,P_CRASH2,P_CRASH3,PCRASH4,PCRASH5,ACC_TYPE,DEATHS,DR_DRINK,YEAR
0,1,10001,1,1,1,4,1,16,51,34,...,0,1,13,1,1,4,1,1,1,2011
1,1,10002,1,1,1,4,1,23,40,35,...,0,14,9,1,4,4,2,1,0,2011
2,1,10003,1,2,1,5,1,9,14,12,...,0,14,10,1,1,2,50,0,1,2011
3,1,10003,2,2,4,5,1,9,14,12,...,0,14,62,1,1,1,51,2,0,2011
4,1,10005,1,1,1,8,1,15,35,34,...,0,1,13,1,1,4,1,1,0,2011

In [11]:
#make combined dataframes
a_frames = [accident_15, accident_14, accident_13, accident_12, accident_11]
accident_all = pd.concat(a_frames)

In [12]:
p_frames = [person_15, person_14, person_13, person_12, person_11]
person_all = pd.concat(p_frames)

In [13]:
v_frames = [vehicle_15, vehicle_14, vehicle_13, vehicle_12, vehicle_11]
vehicle_all = pd.concat(v_frames)

In [14]:
#compare headers
#list(vehicle_all)
#list(person_all)
#list(accident_all)

#CITY, and COUNTY are only in accident
#combine by STATE and ST_CASE?

In [15]:
loc_frame = accident_all[['STATE', 'ST_CASE', 'COUNTY', 'CITY', 'LATITUDE', 'LONGITUD']]
loc_frame.head()

   STATE  ST_CASE  COUNTY  CITY  LATITUDE  LONGITUD
0      1    10001     127     0      34.0     -87.0
1      1    10002      83     0      35.0     -87.0
2      1    10003      11     0      32.0     -86.0
3      1    10004      45     0      31.0     -86.0
4      1    10005      45  2050      31.0     -86.0

In [16]:
#merge to add location info to vehicle and person dataframes
person_all = pd.merge(person_all,loc_frame,how='left', on = ['STATE', 'ST_CASE', 'COUNTY'])
vehicle_all = pd.merge(vehicle_all,loc_frame,how='left', on = ['STATE', 'ST_CASE'])
#list(person_all)

## Import census data, 2011-2015

In [17]:
census = pd.DataFrame.from_csv('census_data/cc-est2015-subset.csv', index_col=None, encoding = 'utf-8')
census = census[census['YEAR'] >= 4] #filter out desired census years, 2011:2015
#convert coded census years to actual years, 4=2011; 5=2012; 6=2013; 7=2014; 8=2015
census['YEAR'] = census['YEAR'] + 2007
census.head()

,SUMLEV,STATE,COUNTY,STNAME,CTYNAME,YEAR,AGEGRP,TOT_POP,TOT_MALE,TOT_FEMALE
57,50,1,1,Alabama,Autauga County,2011,0,55253,26999,28254
58,50,1,1,Alabama,Autauga County,2011,1,3581,1864,1717
59,50,1,1,Alabama,Autauga County,2011,2,3940,1954,1986
60,50,1,1,Alabama,Autauga County,2011,3,4355,2223,2132
61,50,1,1,Alabama,Autauga County,2011,4,3954,2033,1921

### Write output files

In [22]:
accident_all.to_csv('wrangled_data/accident_2011_2015.csv')

In [23]:
person_all.to_csv('wrangled_data/person_2011_2015.csv')

In [24]:
vehicle_all.to_csv('wrangled_data/vehicle_2011_2015.csv')

In [25]:
census.to_csv('wrangled_data/census_2011_2015.csv')